/* pouzivame intuitivnejsi box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.obal {
  max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
  margin: 0 auto; /* pruh je na stránce vycentrovaný */
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}
.menu li a {
  text-decoration: none;
  color: #000;
}
.menu li:first-child {
  font-weight: 600;
}
.menu li:nth-child(3) {
  background-color: #48418e;
  padding: 20px;
}
.menu li:nth-child(3) a {
  color: white;
}
.hero {
  background-image: url(images/pozadi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.hero img {
  padding-top: 50px;
}
.hero .text {
  margin-left: 30px;
}
.hero h1 {
  font-size: 90px;
  font-weight: 400;
  margin: 30px 0 0 0;
}
.hero p {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.hero a {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.hero a:first-of-type {
  background-color: #48418e;
  margin-right: 10px;
}
.stlpce {
  display: flex;
  padding: 30px 50px;
}
.stlpce .stlpec {
  width: calc(100% / 3);
  text-align: center;
}
.stlpec:not(last-child) {
  margin-right: 20px;
}
.stlpec img {
  width: 80px;
}
.page-footer {
  background-color: #48418e;
  color: white;
  text-align: center;
}
